<% include partials/header %>

<div class="container">
    
    <header class="jumbotron">
        <h1>This is the landing page!</h1>
    </header>
    
    <p> Not part of jumbotron</p>

</div>
<% include partials/footer %>