<% include partials/header %>

<div class="container">
    
    <header class="jumbotron">
        <h1>This is the landing page!</h1>
    </header>
    
    <p> Not part of jumbotron</p>
    
    <a class="btn btn-primary btn-lg" href="./Patatap/home" role="button">Patatap Clone</a>
    <a class="btn btn-primary btn-lg" href="./Blog/home" role="button">Simple Blog</a>
    <a class="btn btn-primary btn-lg" href="./Patatap/home" role="button">Whale Game</a>

</div>

<% include partials/footer %>