<% include ../partials/header %>

<label for="arg1">Enter a number: </label>
<form type="number" id="arg1" name="arg1"></form>
<label for="arg2" name="arg2">Enter another number: </label>
<form type="number" id="arg2"></form>

<% include ../partials/footer %>